<form action="/robots/<%= @robot.id %>" method="post">
  <p>Edit <%= @robot.name %></p>
  <input type="hidden" name="_method" value="PUT" />
  <label>Name: </label><input type='type' name='robot[name]' value="<%= @robot.name %>"/><br/>
  <label><strong>Location:<br/> </strong></label><label class="location">City: </label><input type='type' name='robot[city]'value="<%= @robot.city %>"</input>
  <label class="location"> State: </label><input type='type' name='robot[state]'value="<%= @robot.state %>"</input><br/>
  <label>Department: </label><input type='type' name='robot[department]'value="<%= @robot.department %>"</input><br/>
  <input type='submit' value='Save changes!'/>
</form>
